<nav class="navbar navbar-expand-lg navbar-light" (scroll)="onScroll($event)" [ngClass]="{'active textColor': changeHeaderColor}">
  <button class="navbar-toggler" (click)="togleNavbar()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse show" [ngStyle]="{'display': showNavbarList ? 'block' : 'none' }" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/" class="nav-link" [ngClass]="{'textColor': changeHeaderColor}"> Главная </a>
      </li>
      <li class="nav-item">
          <a routerLink="/aboutOrder" class="nav-link" [ngClass]="{'textColor': changeHeaderColor}">Условия заказа</a>
      </li>
      <li class="nav-item">
          <a routerLink="/aboutUs" class="nav-link" [ngClass]="{'textColor': changeHeaderColor}">О НАС</a>
      </li>
    </ul>
    <div class="icons">
      <a href="https://www.instagram.com/_green_____garden/" class="icons" [ngClass]="{'textColor': changeHeaderColor}"><i class="fa fa-instagram fa-lg mr-3" aria-hidden="true"></i></a>
      <a href="" class="icons" [ngClass]="{'textColor': changeHeaderColor}"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
    </div>
  </div>
  </nav>
