<div class="header ">
    <app-header class="mt-3"></app-header>
</div>
<div class="content">
    <div class="wrapper">
        <h3 class="text-center">Условия доставки цветов Green Garden</h3>
        <ol>
            <li>
                <h6>наши продукты</h6>
                <ul>
                    <li>Продукты предоставляются в зависимости от наличия. Если мы не сможем поставить выбранный вами товар, мы оставляем за собой право заменить продукт эквивалентной стоимости, качества и цвета.</li>
                    <li>Если мы не сможем предоставить выбранный вами товар или подходящую замену, мы сообщим вам как можно скорее и вернем ваш платеж в полном объеме в течение 30 дней.</li>
                    <li>Свадебные пакеты оценены для лучшей сезонной доступности, мы выберем цветы для пакета, принимая во внимание свадебный стиль и цвета.</li>
                </ul>
            </li>
            <li>
                <h6>Цены</h6>
                <ul>
                    <li>Указанные цены действительны в течение максимум 14 дней после размещения заказа.</li>
                    <li>Цены включают НДС по текущим ставкам (13,5% и 23%), но не включают стоимость доставки.</li>
                    <li>Цены на свадебные пакеты не доступны в праздничные дни</li>
                </ul>
            </li>
            <li>
                <h6>Заказы / Оплата</h6>
                <ul>
                    <li>Мы не можем принимать заказы от клиентов младше восемнадцати (18) лет</li>
                </ul>
            </li>
            <li>
                <h6>Доставка</h6>
                <ul>
                    <li>Стоимость доставки будет применяться в указанной области. Если вы запрашиваете доставку в отдаленные районы, которые обычно не доставляются вам, вам сообщат о любых дополнительных расходах как можно скорее после получения вашей формы заказа.</li>
                    <li>Если будет запрошена своевременная доставка, мы приложим все усилия, чтобы выполнить запрос, но никак не можем выполнить такой запрос.</li>
                    <li>если повторная доставка не запрошена, мы можем по нашему усмотрению возместить стоимость заказа за вычетом расходов на доставку, если была предпринята попытка первоначальной доставки</li>
                </ul>
            </li>
            <li>
                <h6>Общая</h6>
                <ul>
                    <li>мы оставляем за собой право приостановить, ограничить или прекратить доступ к Онлайн-сайту и / или Онлайн-сервисам по любой причине в любое время.</li>
                    <li>Лицо, не являющееся стороной соглашения между вами и нами, не имеет права применять какие-либо Условия и положения, но это не влияет на какие-либо права или средства правовой защиты, которые существуют в соответствии с законом.</li>
                </ul>
            </li>
        </ol>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>  
