<div class="mb-0">
    <app-header class="header"></app-header>  
</div>
<div class="wrapper mb-0">
    <div class="content mb-0">
        <div class="pt-5 mt-5 mb-5"><h1 class="text-center pt-5">GREEN GARDEN студия в Армении</h1></div>
        <p>Мы являемся компанией и управляем ею с 2017 года. Мы увлечены цветами и отличным обслуживанием.
            <br><br>
            Изначально мы начали с двух магазинов для флористов, но у нас был такой большой успех с нашими яркими и креативными цветочными композициями, что мы решили расширяться.
            <br><br>
            Примерно в это же время передовые технологии и возможность заказа цветов онлайн произвели революцию на рынке цветоводства.
            <br><br>Сейчас мы являемся одним из самых узнаваемых и проверенных флористов в стране.<br>
            Сегодня наша сеть доставки цветов охватывает большую часть, и мы сотрудничаем с настоящими флористами из кирпича и минометов, с которыми мы регулярно общаемся и знаем лично. Это одна из вещей, которая отличает нас в этой отрасли. Вы спросите, а что еще отличает нас от других? Давай просто положим туда -
        </p>
        <h3>Что нас отличает:</h3>
        <ul>
            <li>Мы не отправляем ваши заказы случайным флористам, не заботясь о качестве:</li>
            <li>Мы не забываем о наших флористах, когда они присоединяются к сети - на самом деле, мы говорим с ними на регулярной основе и знаем их лично</li>
            <li>Мы не берем огромных комиссионных, как это делают некоторые конкуренты - мы заботимся о наших флористах:</li>
            <li>У нас нет хитрой практики обслуживания клиентов, как у некоторых конкурентов - наши представители по обслуживанию клиентов из Австралии всегда готовы помочь:</li>
            <li>Мы приглашаем тысячи флористов в нашу сеть, как и другие конкуренты, и у нас есть несколько флористов, обслуживающих ОДИН пригород</li>
        </ul>
        <p>Мы быстрые, свежие и доступные - с этим согласны наши многочисленные постоянные клиенты. Попробуйте и убедитесь сами, вы будете разочарованы.</p>
    </div>
    
</div>
<div class="footer mt-0">
    <app-footer></app-footer>
</div>
